body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

img {
    display: block;
    width: 100%;
}

canvas {
    position: relative;
}

.container_heart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2em 4em;
    position: absolute;
    top: 0;
}

.container_gameOver {
    background-color: rgb(26, 26, 26);
    border: 10px solid #8d8d8d;
    border-radius: 10px;
    margin-left: 37%;
    padding: 100px;
    position: absolute;
    top: 35%;
    visibility: hidden;
}

.container_gameOver p {
    color: #fff;
    font-size: 2em;

}

.player {
    display: flex;
    gap: 1em;
    width: 15%;
}

img {
    margin: 10px
}